.loader {
    width: 90px;
    height: 90px;
    background-image: url(./images/loader.svg);
    background-size: contain;
    background-repeat: no-repeat;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}